*
{
    box-sizing: border-box;
    font-family:'Raleway', sans-serif;
    color:var(--black);
}

:root
{
    --green:#1e5128;
    --black:#191A19;
}

html, body
{
    scroll-behavior: smooth;
    margin: 0;
    overflow-x: hidden;
}

::selection {
  background: var(--green);
  color: white;
}

form
{
    border:2px grey solid;
    padding:2rem;
    border-radius:1rem;
    margin-right: 0.5rem;
}
.submit_btn
{
    background-color:var(--green);
    color:white;
    font-weight:bold;
    font-size:1.4rem;
    padding:0.7rem 2.5rem 0.7rem 2.5rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.submit_btn:hover
{
    border-radius: 4rem;
    color:white;
    transform: scale(1.08);
    transition: all 0.5s;
}

label
{
    font-size:1.3rem;
    font-weight:500;
}

.back-btn
{
    border:2px solid var(--green);
    color:var(--green);
}
.back-btn:hover
{
    color:var(--green);
}

.logout-btn
{
    background-color:var(--green);
    color:white;
    float:right;
}
.logout-btn:hover
{
    color:var(--white);
}

@media only screen and (max-width:768px) {
    form
    {
        margin:0;
    }
}